USE [PAFGPT_Db_Live]
GO
/****** Object:  Table [dbo].[tbl_CODE_CATEGORY]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CODE_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
	[type_code] [int] NULL,
	[pertype_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CODE_TYPES]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CODE_TYPES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LOGINS_HISTORY]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOGINS_HISTORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ip_address] [varchar](100) NULL,
	[time_stamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MODEL_STATISTICS]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MODEL_STATISTICS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[total_request] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MODELS]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MODELS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[description] [text] NULL,
	[context_window_tokens] [int] NULL,
	[features] [nvarchar](max) NULL,
	[is_locked] [bit] NULL,
	[icon_class] [varchar](100) NULL,
	[access_level] [varchar](20) NULL,
	[is_enabled] [bit] NULL,
	[is_deleted] [bit] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NOTIFICATIONS]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NOTIFICATIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[message] [text] NOT NULL,
	[is_read] [bit] NULL,
	[related_entity_type] [varchar](50) NULL,
	[related_entity_id] [int] NULL,
	[action_url] [varchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PROMPT]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PROMPT](
	[id] [int] NOT NULL,
	[prompt_p_hour] [int] NOT NULL,
 CONSTRAINT [PK_prompt_tb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PROMPT_HISTORY]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PROMPT_HISTORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[time_stamp] [datetime2](7) NULL,
	[count] [int] NULL,
	[model_id] [int] NULL,
	[response_time_ms] [decimal](18, 0) NULL,
 CONSTRAINT [PK_PromptHistoryTb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ROLE]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ROLE](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_role_tb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ROLE_MODEL_POLICY]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ROLE_MODEL_POLICY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[category] [int] NULL,
	[access_status] [bit] NULL,
	[max_tokens] [int] NULL,
	[daily_prompt_limit] [int] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_BASED_REQUESTS]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_BASED_REQUESTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[detail_justification] [text] NOT NULL,
	[priority] [varchar](50) NOT NULL,
	[tel_ext] [varchar](100) NULL,
	[additional_notes] [text] NULL,
	[admin_notes] [text] NULL,
	[status] [varchar](20) NULL,
	[total_promptperday] [int] NULL,
	[reviewed_by] [int] NULL,
	[review_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[RankCode] [varchar](100) NULL,
	[RankDecode] [varchar](300) NULL,
	[Username] [varchar](300) NULL,
	[PType] [int] NULL,
	[BaseCode] [varchar](100) NULL,
	[BaseDecode] [varchar](300) NULL,
	[UnitCode] [varchar](100) NULL,
	[UnitDecode] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_PROFILE]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_PROFILE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[P_Type] [varchar](50) NULL,
	[PAK_NO] [varchar](100) NOT NULL,
	[FULL_NAME] [varchar](200) NULL,
	[CURRENT_RANK_CODE] [varchar](50) NULL,
	[RANK_ABBREVIATED_DECODE] [varchar](100) NULL,
	[BASE_CODE] [varchar](50) NULL,
	[BASE_DECODE] [varchar](150) NULL,
	[UNIT_CODE] [varchar](50) NULL,
	[UNIT_DECODE] [varchar](150) NULL,
	[SECTION_CODE] [varchar](50) NULL,
	[SECTION_DECODE] [varchar](150) NULL,
	[MAIN_BRANCH_CODE] [varchar](50) NULL,
	[MAIN_BRANCH_DECODE] [varchar](150) NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USERS]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[role_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login_at] [datetime] NULL,
	[is_locked] [bit] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_USER_PROFILE] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[tbl_LOGINS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LOGINS_HISTORY_tbl_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_USERS] ([id])
GO
ALTER TABLE [dbo].[tbl_LOGINS_HISTORY] CHECK CONSTRAINT [FK_tbl_LOGINS_HISTORY_tbl_USERS]
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_MODELS] FOREIGN KEY([model_id])
REFERENCES [dbo].[tbl_MODELS] ([id])
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY] CHECK CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_MODELS]
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_USERS] ([id])
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY] CHECK CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_USERS]
GO
ALTER TABLE [dbo].[tbl_ROLE_MODEL_POLICY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ROLE_MODEL_POLICY_tbl_MODELS] FOREIGN KEY([model_id])
REFERENCES [dbo].[tbl_MODELS] ([id])
GO
ALTER TABLE [dbo].[tbl_ROLE_MODEL_POLICY] CHECK CONSTRAINT [FK_tbl_ROLE_MODEL_POLICY_tbl_MODELS]
GO
ALTER TABLE [dbo].[tbl_USERS]  WITH CHECK ADD  CONSTRAINT [FK_tbl_USERS_tbl_ROLE] FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_ROLE] ([id])
GO
ALTER TABLE [dbo].[tbl_USERS] CHECK CONSTRAINT [FK_tbl_USERS_tbl_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[GetRoleBaseAccessInfo]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetRoleBaseAccessInfo]
as
Begin
SELECT r.id,r.model_id,m.name as model_name,c.type_id,
t.name as type_name ,c.type_code,c.pertype_id,r.access_status
FROM            tbl_ROLE_MODEL_POLICY AS r  inner join
                tbl_MODELS as m ON r.model_id = m.id inner join
				tbl_CODE_CATEGORY as c ON r.category = c.id inner join
				tbl_CODE_TYPES as t ON c.type_id = t.id
				End
					

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_MODELS_ALL_LIST]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[sp_GET_tbl_MODELS_ALL_LIST] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM dbo.tbl_USER_BASED_REQUESTS






    -- Insert statements for procedure here
	 SELECT
            *
        FROM dbo.tbl_MODELS
        WHERE is_deleted = 0
        ORDER BY created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_MODELS_LIST]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_MODELS_LIST] 
	-- Add the parameters for the stored procedure here
@userid as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT m.*,r.status FROM dbo.tbl_MODELS m LEFT OUTER JOIN
	 dbo.tbl_USER_BASED_REQUESTS r ON r.model_id = m.id and  r.status = 'Accepted' and r.user_id = @userid
        WHERE is_deleted = 0 
        ORDER BY created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BASED_REQUESTS_LIST]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_BASED_REQUESTS_LIST] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT r.*,u.username as pakno,m.name as model_name FROM dbo.tbl_USER_BASED_REQUESTS r inner join
dbo.tbl_USERS u ON r.user_id = u.id inner join
dbo.tbl_MODELS m ON r.model_id = m.id
        ORDER BY r.created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BY_ID]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_GET_tbl_USER_BY_ID]
	-- Add the parameters for the stored procedure here
	@id INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            u.id = @id
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BY_NAME]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_GET_tbl_USER_BY_NAME]
	-- Add the parameters for the stored procedure here
	@username varchar(100) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            u.username = @username
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_PROFILE_LIST]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_PROFILE_LIST]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.tbl_USER_PROFILE
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_CODE_CATEGORY_CRUD]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_tbl_CODE_CATEGORY_CRUD]
(
    @Action        VARCHAR(20),   -- INSERT | UPDATE | DELETE | SELECT_BY_ID | SELECT_ALL
    @id            INT = NULL,
    @type_id       INT = NULL,
    @type_code     INT = NULL,
    @pertype_id    INT = NULL,

    -- OUTPUT
    @Status        BIT OUTPUT,
    @Message       VARCHAR(200) OUTPUT,
    @NewId         INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT
    ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
            INSERT INTO dbo.tbl_CODE_CATEGORY
            (
                type_id,
                type_code,
                pertype_id
            )
            VALUES
            (
                @type_id,
                @type_code,
                @pertype_id
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status = 1;
            SET @Message = 'Code category inserted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       UPDATE
    ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_CODE_CATEGORY
        SET
            type_id    = @type_id,
            type_code  = @type_code,
            pertype_id = @pertype_id
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Code category updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE
    ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        DELETE FROM dbo.tbl_CODE_CATEGORY
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Code category deleted successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       SELECT BY ID
    ========================= */
    ELSE IF (@Action = 'SELECT_BY_ID')
    BEGIN
        SELECT *
        FROM dbo.tbl_CODE_CATEGORY
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       SELECT ALL
    ========================= */
    ELSE IF (@Action = 'SELECT_ALL')
    BEGIN
        SELECT *
        FROM dbo.tbl_CODE_CATEGORY
        ORDER BY id DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       INVALID ACTION
    ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END


GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_MODELS_CRUD]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_MODELS_CRUD]
(
    @Action                 VARCHAR(10),     -- INSERT | SELECT | UPDATE | DELETE | TOGGLE
    @id                     INT = NULL,
    @name                   VARCHAR(100) = NULL,
    @type                   VARCHAR(20) = NULL,
    @description            VARCHAR(500) = NULL,
    @context_window_tokens  INT = NULL,
    @features               NVARCHAR(MAX) = NULL,
    @is_locked              BIT = NULL,
    @icon_class             VARCHAR(100) = NULL,
    @access_level           VARCHAR(20) = NULL,
    @is_enabled             BIT = NULL,
    @created_by             INT = NULL,
    @updated_by             INT = NULL,

    -- OUTPUT
    @Status                 BIT OUTPUT,
    @Message                VARCHAR(200) OUTPUT,
    @NewId                  INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
		
		IF EXISTS (
            SELECT 1
            FROM dbo.tbl_MODELS 
            WHERE  CAST(description AS VARCHAR(MAX)) = @description
              AND is_deleted = 0 )
        BEGIN
            SET @Status = 0;
            SET @Message = 'Model already exists';
            SET @NewId = NULL;
            RETURN 0;
        END

            INSERT INTO dbo.tbl_MODELS
            (
                name, type, description, context_window_tokens,
                features, is_locked, icon_class, access_level,
                is_enabled, is_deleted, created_by, created_at
            )
            VALUES
            (
                @name, @type, @description, @context_window_tokens,
                @features, ISNULL(@is_locked,1), @icon_class, @access_level,
                ISNULL(@is_enabled,0), 0, @created_by, GETDATE()
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status = 1;
            SET @Message = 'Model inserted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       SELECT
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            id, name, type, description, context_window_tokens,
            features, is_locked, icon_class, access_level,
            is_enabled, is_deleted, created_by, updated_by,
            created_at, updated_at
        FROM dbo.tbl_MODELS
        WHERE is_deleted = 0
        ORDER BY created_at DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            name = ISNULL(@name, name),
            type = ISNULL(@type, type),
            description = ISNULL(@description, description),
            context_window_tokens = ISNULL(@context_window_tokens, context_window_tokens),
            features = ISNULL(@features, features),
            is_locked = ISNULL(@is_locked, is_locked),
            icon_class = ISNULL(@icon_class, icon_class),
            access_level = ISNULL(@access_level, access_level),
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Model updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       TOGGLE
       ========================= */
    ELSE IF (@Action = 'TOGGLE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            is_enabled = ISNULL(@is_enabled, is_enabled),
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Model status updated';
        RETURN 1;
    END

    /* =========================
       DELETE (SOFT)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            is_deleted = 1,
            is_enabled = 0,
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Model soft deleted successfully';
        RETURN 1;
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END




GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USER_BASED_REQUESTS_CRUD]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_USER_BASED_REQUESTS_CRUD]
(
    @Action               VARCHAR(10),     -- INSERT | SELECT | UPDATE | REVIEW | DELETE
    @id                   INT = NULL,
    @model_id             INT = NULL,
    @user_id              INT = NULL,
    @detail_justification VARCHAR(500) = NULL,
    @priority             VARCHAR(50) = NULL,
    @tel_ext              VARCHAR(100) = NULL,
    @additional_notes    VARCHAR(500) = NULL,
    @admin_notes          VARCHAR(500) = NULL,
    @status               VARCHAR(20) = NULL,   -- Pending | Approved | Rejected | Cancelled
    @total_promptperday   INT = NULL,
    @reviewed_by          INT = NULL,

    -- NEW PARAMETERS
    @RankCode             VARCHAR(50) = NULL,
    @RankDecode           VARCHAR(300) = NULL,
    @Username             VARCHAR(100) = NULL,
    @PType                VARCHAR(50) = NULL,
    @BaseCode             VARCHAR(50) = NULL,
    @BaseDecode           VARCHAR(300) = NULL,
    @UnitCode             VARCHAR(50) = NULL,
    @UnitDecode           VARCHAR(300) = NULL,

    -- OUTPUT (STANDARD)
    @Status2               BIT OUTPUT,
    @Message              VARCHAR(200) OUTPUT,
    @NewId                INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT (USER REQUEST)
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
            INSERT INTO dbo.tbl_USER_BASED_REQUESTS
            (
                model_id,
                user_id,
                detail_justification,
                priority,
                tel_ext,
                additional_notes,
                status,
                created_at,
                RankCode,
                RankDecode,
                Username,
                PType,
                BaseCode,
                BaseDecode,
                UnitCode,
                UnitDecode
            )
            VALUES
            (
                @model_id,
                @user_id,
                @detail_justification,
                @priority,
                @tel_ext,
                @additional_notes,
                'Pending',
                GETDATE(),
                @RankCode,
                @RankDecode,
                @Username,
                @PType,
                @BaseCode,
                @BaseDecode,
                @UnitCode,
                @UnitDecode
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status2 = 1;
            SET @Message = 'Request submitted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status2 = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       SELECT (ADMIN / USER)
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            r.id,
            r.model_id,
            m.name AS model_name,
            r.user_id,
            u.username,
            r.detail_justification,
            r.priority,
            r.tel_ext,
            r.additional_notes,
            r.admin_notes,
            r.status,
            r.total_promptperday,
            r.reviewed_by,
            r.review_date,
            r.created_at,
            r.updated_at,
            r.RankCode,
            r.RankDecode,
            r.Username,
            r.PType,
            r.BaseCode,
            r.BaseDecode,
            r.UnitCode,
            r.UnitDecode
        FROM dbo.tbl_USER_BASED_REQUESTS r
        INNER JOIN dbo.tbl_MODELS m ON r.model_id = m.id
        INNER JOIN dbo.tbl_USERS u ON r.user_id = u.id
        WHERE
            (@id IS NULL OR r.id = @id)
            AND (@user_id IS NULL OR r.user_id = @user_id)
        ORDER BY r.created_at DESC;

        SET @Status2 = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE (USER – Pending only)
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            detail_justification = ISNULL(@detail_justification, detail_justification),
            priority             = ISNULL(@priority, priority),
            tel_ext              = ISNULL(@tel_ext, tel_ext),
            additional_notes     = ISNULL(@additional_notes, additional_notes),
            RankCode             = ISNULL(@RankCode, RankCode),
            RankDecode           = ISNULL(@RankDecode, RankDecode),
            Username             = ISNULL(@Username, Username),
            PType                = ISNULL(@PType, PType),
            BaseCode             = ISNULL(@BaseCode, BaseCode),
            BaseDecode           = ISNULL(@BaseDecode, BaseDecode),
            UnitCode             = ISNULL(@UnitCode, UnitCode),
            UnitDecode           = ISNULL(@UnitDecode, UnitDecode),
			status           = ISNULL(@status, status),
            updated_at           = GETDATE()
        WHERE
            id = @id
            AND status = 'Pending';

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found or already reviewed';
            RETURN 0;
        END
    END

    /* =========================
       REVIEW (ADMIN)
       ========================= */
    ELSE IF (@Action = 'REVIEW')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            status             = @status,
            admin_notes        = @admin_notes,
            total_promptperday = @total_promptperday,
            reviewed_by        = @reviewed_by,
            review_date        = GETDATE(),
            updated_at         = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request reviewed successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE (CANCEL)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            status = 'Cancelled',
            updated_at = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request cancelled successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found';
            RETURN 0;
        END
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status2 = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USER_PROFILE_CRUD]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_tbl_USER_PROFILE_CRUD]
    @Action       VARCHAR(10),
    @user_id      INT = NULL,
    @pakno        VARCHAR(50) = NULL,
    @full_name    VARCHAR(200) = NULL,
    @rank_code    VARCHAR(50) = NULL,
    @rank_decode  VARCHAR(300) = NULL,
    @base_code    INT = NULL,
    @base_decode  VARCHAR(300) = NULL,
    @unit_code    INT = NULL,
    @unit_decode  VARCHAR(300) = NULL,
    @Status       BIT OUTPUT,
    @Message      VARCHAR(200) OUTPUT,
    @NewId        INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @Status = 0;
    SET @Message = '';
    SET @NewId = NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF UPPER(LTRIM(RTRIM(@Action))) = 'INSERT'
        BEGIN
            -- If a profile for this user already exists, perform update instead of duplicate insert
            IF EXISTS (SELECT 1 FROM dbo.tbl_USER_PROFILE WHERE user_id = @user_id)
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    pakno = ISNULL(@pakno, pakno),
                    full_name = ISNULL(@full_name, full_name),
                    rank_code = ISNULL(@rank_code, rank_code),
                    rank_decode = ISNULL(@rank_decode, rank_decode),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE user_id = @user_id;

                SELECT @NewId = id FROM dbo.tbl_USER_PROFILE WHERE user_id = @user_id;
                SET @Status = 1;
                SET @Message = 'Profile updated (existing record).';
            END
            ELSE
            BEGIN
                INSERT INTO dbo.tbl_USER_PROFILE
                (
                    user_id,
                    pakno,
                    full_name,
                    rank_code,
                    rank_decode,
                    base_code,
                    base_decode,
                    unit_code,
                    unit_decode,
                    created_at,
                    updated_at
                )
                VALUES
                (
                    @user_id,
                    @pakno,
                    @full_name,
                    @rank_code,
                    @rank_decode,
                    @base_code,
                    @base_decode,
                    @unit_code,
                    @unit_decode,
                    GETDATE(),
                    GETDATE()
                );

                SET @NewId = CAST(SCOPE_IDENTITY() AS INT);
                SET @Status = 1;
                SET @Message = 'Profile inserted successfully.';
            END
        END
        ELSE IF UPPER(LTRIM(RTRIM(@Action))) = 'UPDATE'
        BEGIN
            -- Prefer updating by user_id; if user_id not provided, caller can set @NewId as target id
            IF @user_id IS NOT NULL
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    pakno = ISNULL(@pakno, pakno),
                    full_name = ISNULL(@full_name, full_name),
                    rank_code = ISNULL(@rank_code, rank_code),
                    rank_decode = ISNULL(@rank_decode, rank_decode),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE user_id = @user_id;

                SELECT @NewId = id FROM dbo.tbl_USER_PROFILE WHERE user_id = @user_id;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile updated successfully.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to update for provided user_id.';
                END
            END
            ELSE IF @NewId IS NOT NULL
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    pakno = ISNULL(@pakno, pakno),
                    full_name = ISNULL(@full_name, full_name),
                    rank_code = ISNULL(@rank_code, rank_code),
                    rank_decode = ISNULL(@rank_decode, rank_decode),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE id = @NewId;

                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile updated successfully by id.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to update for provided id.';
                END
            END
            ELSE
            BEGIN
                SET @Status = 0;
                SET @Message = 'UPDATE requires @user_id or @NewId.';
            END
        END
        ELSE IF UPPER(LTRIM(RTRIM(@Action))) = 'DELETE'
        BEGIN
            IF @user_id IS NOT NULL
            BEGIN
                DELETE FROM dbo.tbl_USER_PROFILE WHERE user_id = @user_id;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile deleted successfully.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to delete for provided user_id.';
                END
            END
            ELSE IF @NewId IS NOT NULL
            BEGIN
                DELETE FROM dbo.tbl_USER_PROFILE WHERE id = @NewId;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile deleted successfully by id.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to delete for provided id.';
                END
            END
            ELSE
            BEGIN
                SET @Status = 0;
                SET @Message = 'DELETE requires @user_id or @NewId.';
            END
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Unknown Action. Use INSERT, UPDATE or DELETE.';
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @Status = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USERS_CRUD]    Script Date: 2/19/2026 1:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_USERS_CRUD]
(
    @Action            VARCHAR(10),      -- INSERT | SELECT | UPDATE | DELETE
    @id                INT = NULL,
    @username          VARCHAR(100) = NULL,
    @role_id           INT = NULL,
    @is_active         BIT = NULL,
    @is_locked         BIT = NULL,
    @is_deleted        BIT = NULL,

    -- OUTPUT (STANDARD)
    @Status            BIT OUTPUT,
    @Message           VARCHAR(200) OUTPUT,
    @NewId             INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT USER
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        -- Check duplicate username
        IF EXISTS (
            SELECT 1
            FROM dbo.tbl_USERS WITH (NOLOCK)
            WHERE username = @username
              AND is_deleted = 0
        )
        BEGIN
            SET @Status = 0;
            SET @Message = 'Username already exists';
            SET @NewId = NULL;
            RETURN 0;
        END

        INSERT INTO dbo.tbl_USERS
        (
            username,
            role_id,
            is_active,
            is_locked,
            is_deleted,
            created_at
        )
        VALUES
        (
            @username,
            @role_id,
            ISNULL(@is_active, 1),
            ISNULL(@is_locked, 0),
            0,
            GETDATE()
        );

        SET @NewId = SCOPE_IDENTITY();
        SET @Status = 1;
        SET @Message = 'User created successfully';

        RETURN 1;
    END

    /* =========================
       SELECT USER(S)
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            (@id IS NULL OR u.id = @id)
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE USER
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_USERS
        SET
            username   = ISNULL(@username, username),
            role_id    = ISNULL(@role_id, role_id),
            is_active  = ISNULL(@is_active, is_active),
            is_locked  = ISNULL(@is_locked, is_locked),
            updated_at = GETDATE()
        WHERE id = @id
          AND is_deleted = 0;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'User updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'User not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE USER (SOFT)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_USERS
        SET
            is_deleted = 1,
            is_active  = 0,
            updated_at = GETDATE()
        WHERE id = @id
          AND is_deleted = 0;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'User soft deleted successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'User not found';
            RETURN 0;
        END
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END




GO
