USE [PAFGPT_Db_V2]
GO
/****** Object:  Table [dbo].[tbl_CODE_CATEGORY]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CODE_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
	[type_code] [int] NULL,
	[pertype_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CODE_TYPES]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CODE_TYPES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LOGINS_HISTORY]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOGINS_HISTORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ip_address] [varchar](100) NULL,
	[time_stamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MODEL_STATISTICS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MODEL_STATISTICS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[total_request] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MODELS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MODELS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[description] [text] NULL,
	[context_window_tokens] [int] NULL,
	[features] [nvarchar](max) NULL,
	[is_locked] [bit] NULL,
	[icon_class] [varchar](100) NULL,
	[access_level] [varchar](20) NULL,
	[is_enabled] [bit] NULL,
	[is_deleted] [bit] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NOTIFICATIONS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NOTIFICATIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[message] [text] NOT NULL,
	[is_read] [bit] NULL,
	[related_entity_type] [varchar](50) NULL,
	[related_entity_id] [int] NULL,
	[action_url] [varchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PROMPT]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PROMPT](
	[id] [int] NOT NULL,
	[prompt_p_hour] [int] NOT NULL,
 CONSTRAINT [PK_prompt_tb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PROMPT_HISTORY]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PROMPT_HISTORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[time_stamp] [datetime2](7) NULL,
	[count] [int] NULL,
	[model_id] [int] NULL,
	[response_time_ms] [decimal](18, 0) NULL,
 CONSTRAINT [PK_PromptHistoryTb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RESPONSE_FEEDBACK]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RESPONSE_FEEDBACK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[username] [nvarchar](100) NULL,
	[rank_decode] [nvarchar](50) NULL,
	[base_decode] [nvarchar](100) NULL,
	[model_name] [nvarchar](100) NOT NULL,
	[user_query] [nvarchar](max) NULL,
	[ai_response_preview] [nvarchar](500) NULL,
	[feedback_type] [varchar](10) NOT NULL,
	[feedback_comment] [nvarchar](500) NULL,
	[session_id] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ROLE]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ROLE](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_role_tb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ROLE_MODEL_POLICY]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ROLE_MODEL_POLICY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[category] [int] NULL,
	[access_status] [bit] NULL,
	[max_tokens] [int] NULL,
	[daily_prompt_limit] [int] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_BASED_REQUESTS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_BASED_REQUESTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[detail_justification] [text] NOT NULL,
	[priority] [varchar](50) NOT NULL,
	[tel_ext] [varchar](100) NULL,
	[additional_notes] [text] NULL,
	[admin_notes] [text] NULL,
	[status] [varchar](20) NULL,
	[total_promptperday] [int] NULL,
	[reviewed_by] [int] NULL,
	[review_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[RankCode] [int] NULL,
	[RankDecode] [varchar](300) NULL,
	[Username] [varchar](500) NULL,
	[PType] [int] NULL,
	[BaseCode] [varchar](100) NULL,
	[BaseDecode] [varchar](300) NULL,
	[UnitCode] [varchar](100) NULL,
	[UnitDecode] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_PROFILE]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_PROFILE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[P_Type] [varchar](50) NULL,
	[PAK_NO] [varchar](100) NOT NULL,
	[FULL_NAME] [varchar](200) NULL,
	[CURRENT_RANK_CODE] [varchar](50) NULL,
	[RANK_ABBREVIATED_DECODE] [varchar](100) NULL,
	[BASE_CODE] [varchar](50) NULL,
	[BASE_DECODE] [varchar](150) NULL,
	[UNIT_CODE] [varchar](50) NULL,
	[UNIT_DECODE] [varchar](150) NULL,
	[SECTION_CODE] [varchar](50) NULL,
	[SECTION_DECODE] [varchar](150) NULL,
	[MAIN_BRANCH_CODE] [varchar](50) NULL,
	[MAIN_BRANCH_DECODE] [varchar](150) NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_PROMPTS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_PROMPTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[username] [nvarchar](100) NULL,
	[rank_decode] [nvarchar](50) NULL,
	[base_decode] [nvarchar](100) NULL,
	[model_name] [nvarchar](100) NOT NULL,
	[prompt_text] [nvarchar](2000) NOT NULL,
	[has_attachments] [bit] NULL,
	[attachment_names] [nvarchar](500) NULL,
	[session_id] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USER_TOTAL_QUOTA]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USER_TOTAL_QUOTA](
	[user_id] [varchar](50) NOT NULL,
	[daily_total_limit] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_USERS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[role_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login_at] [datetime] NULL,
	[is_locked] [bit] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_RESPONSE_FEEDBACK] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_USER_PROFILE] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[tbl_USER_PROMPTS] ADD  DEFAULT ((0)) FOR [has_attachments]
GO
ALTER TABLE [dbo].[tbl_USER_PROMPTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_USER_TOTAL_QUOTA] ADD  DEFAULT ((50)) FOR [daily_total_limit]
GO
ALTER TABLE [dbo].[tbl_USER_TOTAL_QUOTA] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_LOGINS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_LOGINS_HISTORY_tbl_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_USERS] ([id])
GO
ALTER TABLE [dbo].[tbl_LOGINS_HISTORY] CHECK CONSTRAINT [FK_tbl_LOGINS_HISTORY_tbl_USERS]
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_MODELS] FOREIGN KEY([model_id])
REFERENCES [dbo].[tbl_MODELS] ([id])
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY] CHECK CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_MODELS]
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_USERS] ([id])
GO
ALTER TABLE [dbo].[tbl_PROMPT_HISTORY] CHECK CONSTRAINT [FK_tbl_PROMPT_HISTORY_tbl_USERS]
GO
ALTER TABLE [dbo].[tbl_ROLE_MODEL_POLICY]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ROLE_MODEL_POLICY_tbl_MODELS] FOREIGN KEY([model_id])
REFERENCES [dbo].[tbl_MODELS] ([id])
GO
ALTER TABLE [dbo].[tbl_ROLE_MODEL_POLICY] CHECK CONSTRAINT [FK_tbl_ROLE_MODEL_POLICY_tbl_MODELS]
GO
ALTER TABLE [dbo].[tbl_USERS]  WITH CHECK ADD  CONSTRAINT [FK_tbl_USERS_tbl_ROLE] FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_ROLE] ([id])
GO
ALTER TABLE [dbo].[tbl_USERS] CHECK CONSTRAINT [FK_tbl_USERS_tbl_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[GetRoleBaseAccessInfo]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetRoleBaseAccessInfo]
as
Begin
SELECT r.id,r.model_id,m.name as model_name,c.type_id,
t.name as type_name ,c.type_code,c.pertype_id,r.access_status
FROM            tbl_ROLE_MODEL_POLICY AS r  inner join
                tbl_MODELS as m ON r.model_id = m.id inner join
				tbl_CODE_CATEGORY as c ON r.category = c.id inner join
				tbl_CODE_TYPES as t ON c.type_id = t.id
				End
					
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_tbl_NOTIFICATIONS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_tbl_NOTIFICATIONS]
    @Action NVARCHAR(20),
    @Id INT = NULL,
    @UserId INT = NULL,
    @Type NVARCHAR(100) = NULL,
    @Title NVARCHAR(255) = NULL,
    @Message NVARCHAR(MAX) = NULL,
    @IsRead BIT = NULL,
    @RelatedEntityType NVARCHAR(100) = NULL,
    @RelatedEntityId INT = NULL,
    @ActionUrl NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'INSERT'
    BEGIN
        INSERT INTO dbo.tbl_NOTIFICATIONS
        (
            user_id, [type], title, message, is_read,
            related_entity_type, related_entity_id, action_url, created_at
        )
        VALUES
        (
            @UserId, @Type, @Title, @Message, ISNULL(@IsRead, 0),
            @RelatedEntityType, @RelatedEntityId, @ActionUrl, GETDATE()
        );

        SELECT CONVERT(INT, SCOPE_IDENTITY()) AS Id;
        RETURN;
    END

    ELSE IF @Action = 'READ'
    BEGIN
        UPDATE dbo.tbl_NOTIFICATIONS
        SET is_read = 1
        WHERE id = @Id;

        SELECT @@ROWCOUNT AS RowsAffected;
        RETURN;
    END

    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM dbo.tbl_NOTIFICATIONS
        WHERE id = @Id;

        SELECT @@ROWCOUNT AS RowsAffected;
        RETURN;
    END

    -- Optionally support UPDATE or other actions here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_MODELS_ALL_LIST]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[sp_GET_tbl_MODELS_ALL_LIST] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM dbo.tbl_USER_BASED_REQUESTS






    -- Insert statements for procedure here
	 SELECT
            *
        FROM dbo.tbl_MODELS
        WHERE is_deleted = 0
        ORDER BY created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_MODELS_LIST]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_MODELS_LIST]
    @userid INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.*,
        CASE 
            WHEN r.id IS NULL THEN NULL
            WHEN r.status IS NULL THEN 'Pending'
            ELSE r.status
        END AS status
    FROM dbo.tbl_MODELS m

    OUTER APPLY (
        SELECT TOP 1 *
        FROM dbo.tbl_USER_BASED_REQUESTS r
        WHERE r.model_id = m.id
          AND (@userid IS NULL OR r.user_id = @userid)
        ORDER BY r.id DESC   -- ya created_at DESC (important!)
    ) r

    WHERE m.is_deleted = 0
    ORDER BY m.created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_tbl_NOTIFICATIONS]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_tbl_NOTIFICATIONS]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id,
        user_id,
        [type],
        title,
        message,
        is_read,
        related_entity_type,
        related_entity_id,
        action_url,
        created_at
    FROM dbo.tbl_NOTIFICATIONS
    WHERE user_id = @UserId
    ORDER BY created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BASED_REQUESTS_LIST]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_BASED_REQUESTS_LIST] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT r.*,u.is_active,u.is_deleted,u.is_locked,u.role_id,u.updated_at,u.username as pakno, m.name FROM dbo.tbl_USER_BASED_REQUESTS r inner join
dbo.tbl_USERS u ON r.user_id = u.id inner join
dbo.tbl_MODELS m ON r.model_id = m.id
        ORDER BY r.created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BY_ID]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_GET_tbl_USER_BY_ID]
	-- Add the parameters for the stored procedure here
	@id INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            u.id = @id
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_BY_NAME]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_GET_tbl_USER_BY_NAME]
	-- Add the parameters for the stored procedure here
	@username varchar(100) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            u.username = @username
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_PROFILE_LIST]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_PROFILE_LIST]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.tbl_USER_PROFILE
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_PROMPTS_BY_USER]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_PROMPTS_BY_USER]
    @user_id VARCHAR(50),
    @limit INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    IF @limit IS NULL OR @limit <= 0 SET @limit = 20;
    IF @limit > 100 SET @limit = 100;

    SELECT TOP (@limit)
        id, prompt_text, model_name, has_attachments, attachment_names, session_id, created_at
    FROM dbo.tbl_USER_PROMPTS
    WHERE user_id = @user_id
    ORDER BY created_at DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_tbl_USER_PROMPTS_TOP]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GET_tbl_USER_PROMPTS_TOP]
    @limit INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    -- enforce safe default in SQL too
    IF @limit IS NULL OR @limit <= 0 SET @limit = 20;
    IF @limit > 50 SET @limit = 50;

    SELECT TOP (@limit)
        p.prompt_text,
        p.model_name,
        p.[count],
        ISNULL(f.likes, 0) AS likes,
        ISNULL(f.dislikes, 0) AS dislikes,
        p.[count] + (ISNULL(f.likes, 0) * 3) - (ISNULL(f.dislikes, 0) * 2) AS score,
        p.last_used
    FROM (
        SELECT 
            LOWER(LTRIM(RTRIM(prompt_text))) AS normalized_key,
            MAX(prompt_text) AS prompt_text,
            MAX(model_name) AS model_name,
            COUNT(*) AS [count],
            MAX(created_at) AS last_used
        FROM dbo.tbl_USER_PROMPTS
        WHERE prompt_text IS NOT NULL 
          AND LEN(LTRIM(RTRIM(prompt_text))) > 0
          AND prompt_text != '(No text)'
        GROUP BY LOWER(LTRIM(RTRIM(prompt_text)))
    ) p
    LEFT JOIN (
        SELECT 
            LOWER(LTRIM(RTRIM(user_query))) AS query_key,
            SUM(CASE WHEN feedback_type = 'like' THEN 1 ELSE 0 END) AS likes,
            SUM(CASE WHEN feedback_type = 'dislike' THEN 1 ELSE 0 END) AS dislikes
        FROM dbo.tbl_RESPONSE_FEEDBACK
        GROUP BY LOWER(LTRIM(RTRIM(user_query)))
    ) f ON p.normalized_key = f.query_key
    WHERE p.[count] + (ISNULL(f.likes, 0) * 3) - (ISNULL(f.dislikes, 0) * 2) > 0
    ORDER BY score DESC, last_used DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GET_USER_QUOTA]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GET_USER_QUOTA]
    @user_id VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @total_limit INT;
    DECLARE @used_today INT;

    -- Total limit
    SELECT @total_limit = daily_total_limit
    FROM tbl_USER_TOTAL_QUOTA
    WHERE user_id = @user_id;

    IF @total_limit IS NULL SET @total_limit = 50;

    -- Used today
    SELECT @used_today = COUNT(*)
    FROM tbl_USER_PROMPTS
    WHERE user_id = @user_id
    AND CAST(created_at AS DATE) = CAST(GETDATE() AS DATE);

    SELECT 
        @total_limit AS total_limit,
        @used_today AS used_today,
        (@total_limit - @used_today) AS remaining;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetResponseFeedback]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetResponseFeedback]
    @model_name NVARCHAR(100) = NULL,
    @feedback_type VARCHAR(10) = NULL,
    @from_date DATETIME = NULL,
    @to_date DATETIME = NULL,
    @user_id VARCHAR(50) = NULL,
    @username NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT rf.*
    FROM tbl_RESPONSE_FEEDBACK rf
    WHERE 1=1
        AND (@model_name IS NULL OR rf.model_name = @model_name)
        AND (@feedback_type IS NULL OR rf.feedback_type = @feedback_type)
        AND (@from_date IS NULL OR rf.created_at >= @from_date)
        AND (@to_date IS NULL OR rf.created_at <= DATEADD(DAY, 1, @to_date))
        AND (@user_id IS NULL OR rf.user_id = @user_id)
        AND (@username IS NULL OR rf.username = @username)
    ORDER BY rf.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetResponseFeedbackStats]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetResponseFeedbackStats]
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare variables for summary statistics
    DECLARE @total INT, @likes INT, @dislikes INT;
    DECLARE @like_rate DECIMAL(5,1);

    -- Get total counts
    SELECT @total = COUNT(*) FROM tbl_RESPONSE_FEEDBACK;
    SELECT @likes = COUNT(*) FROM tbl_RESPONSE_FEEDBACK WHERE feedback_type = 'like';
    SELECT @dislikes = COUNT(*) FROM tbl_RESPONSE_FEEDBACK WHERE feedback_type = 'dislike';

    -- Calculate like rate percentage
    SET @like_rate =
        CASE WHEN @total > 0 THEN ROUND(CAST(@likes AS FLOAT) / @total * 100, 1)
             ELSE 0 END;

    -- Return summary statistics as a result set
    SELECT
        'Summary' AS report_type,
        @total AS total_feedback,
        @likes AS likes_count,
        @dislikes AS dislikes_count,
        @like_rate AS like_rate_percentage;

    -- Breakdown by model
    SELECT
        'ModelBreakdown' AS report_type,
        model_name,
        SUM(CASE WHEN feedback_type = 'like' THEN 1 ELSE 0 END) AS likes,
        SUM(CASE WHEN feedback_type = 'dislike' THEN 1 ELSE 0 END) AS dislikes,
        NULL AS username, -- Placeholder for consistency
        NULL AS user_query,
        NULL AS feedback_comment,
        NULL AS created_at
    FROM tbl_RESPONSE_FEEDBACK
    GROUP BY model_name
    ORDER BY (SUM(CASE WHEN feedback_type = 'like' THEN 1 ELSE 0 END) +
              SUM(CASE WHEN feedback_type = 'dislike' THEN 1 ELSE 0 END)) DESC;

    -- Recent dislikes (last 10)
    SELECT
        'RecentDislikes' AS report_type,
        id, username, model_name, user_query, feedback_comment, created_at
    FROM (
        SELECT TOP 10 id, username, model_name, user_query, feedback_comment, created_at
        FROM tbl_RESPONSE_FEEDBACK
        WHERE feedback_type = 'dislike'
        ORDER BY created_at DESC
    ) AS recent_dislikes;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertResponseFeedback]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertResponseFeedback]
    @user_id VARCHAR(50),
    @username NVARCHAR(100) = NULL,
    @rank_decode NVARCHAR(50) = NULL,
    @base_decode NVARCHAR(100) = NULL,
    @model_name NVARCHAR(100),
    @user_query NVARCHAR(MAX) = NULL,
    @ai_response_preview NVARCHAR(500) = NULL,
    @feedback_type VARCHAR(10),  -- Removed NOT NULL constraint
    @feedback_comment NVARCHAR(500) = NULL,
    @session_id VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate feedback_type before insertion
    IF @feedback_type IS NULL OR (@feedback_type <> 'like' AND @feedback_type <> 'dislike')
    BEGIN
        DECLARE @error_message NVARCHAR(200);
        SET @error_message = CASE WHEN @feedback_type IS NULL THEN 'Feedback type cannot be null'
                                ELSE 'Feedback type must be either "like" or "dislike", not "' + @feedback_type + '"' END;
        RAISERROR(@error_message, 16, 1);
        RETURN;
    END

    -- Validate model_name is provided (NOT NULL constraint)
    IF @model_name IS NULL
    BEGIN
        RAISERROR('Model name cannot be null', 16, 1);
        RETURN;
    END

    INSERT INTO tbl_RESPONSE_FEEDBACK (
        user_id,
        username,
        rank_decode,
        base_decode,
        model_name,
        user_query,
        ai_response_preview,
        feedback_type,
        feedback_comment,
        session_id
    )
    VALUES (
        @user_id,
        @username,
        @rank_decode,
        @base_decode,
        @model_name,
        @user_query,
        @ai_response_preview,
        @feedback_type,
        @feedback_comment,
        @session_id
    );

    SELECT SCOPE_IDENTITY() AS new_feedback_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_CODE_CATEGORY_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_tbl_CODE_CATEGORY_CRUD]
(
    @Action        VARCHAR(20),   -- INSERT | UPDATE | DELETE | SELECT_BY_ID | SELECT_ALL
    @id            INT = NULL,
    @type_id       INT = NULL,
    @type_code     INT = NULL,
    @pertype_id    INT = NULL,

    -- OUTPUT
    @Status        BIT OUTPUT,
    @Message       VARCHAR(200) OUTPUT,
    @NewId         INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT
    ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
            INSERT INTO dbo.tbl_CODE_CATEGORY
            (
                type_id,
                type_code,
                pertype_id
            )
            VALUES
            (
                @type_id,
                @type_code,
                @pertype_id
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status = 1;
            SET @Message = 'Code category inserted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       UPDATE
    ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_CODE_CATEGORY
        SET
            type_id    = @type_id,
            type_code  = @type_code,
            pertype_id = @pertype_id
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Code category updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE
    ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        DELETE FROM dbo.tbl_CODE_CATEGORY
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Code category deleted successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       SELECT BY ID
    ========================= */
    ELSE IF (@Action = 'SELECT_BY_ID')
    BEGIN
        SELECT *
        FROM dbo.tbl_CODE_CATEGORY
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       SELECT ALL
    ========================= */
    ELSE IF (@Action = 'SELECT_ALL')
    BEGIN
        SELECT *
        FROM dbo.tbl_CODE_CATEGORY
        ORDER BY id DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       INVALID ACTION
    ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_MODELS_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_MODELS_CRUD]
(
    @Action                 VARCHAR(10),     -- INSERT | SELECT | UPDATE | DELETE | TOGGLE
    @id                     INT = NULL,
    @name                   VARCHAR(100) = NULL,
    @type                   VARCHAR(20) = NULL,
    @description            VARCHAR(500) = NULL,
    @context_window_tokens  INT = NULL,
    @features               NVARCHAR(MAX) = NULL,
    @is_locked              BIT = NULL,
    @icon_class             VARCHAR(100) = NULL,
    @access_level           VARCHAR(20) = NULL,
    @is_enabled             BIT = NULL,
    @created_by             INT = NULL,
    @updated_by             INT = NULL,

    -- OUTPUT
    @Status                 BIT OUTPUT,
    @Message                VARCHAR(200) OUTPUT,
    @NewId                  INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
		
		IF EXISTS (
            SELECT 1
            FROM dbo.tbl_MODELS 
            WHERE name = @name and CAST(description AS VARCHAR(MAX)) = @description
              AND is_deleted = 0 )
        BEGIN
            SET @Status = 0;
            SET @Message = 'Model already exists';
            SET @NewId = NULL;
            RETURN 0;
        END

            INSERT INTO dbo.tbl_MODELS
            (
                name, type, description, context_window_tokens,
                features, is_locked, icon_class, access_level,
                is_enabled, is_deleted, created_by, created_at
            )
            VALUES
            (
                @name, @type, @description, @context_window_tokens,
                @features, ISNULL(@is_locked,1), @icon_class, @access_level,
                ISNULL(@is_enabled,0), 0, @created_by, GETDATE()
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status = 1;
            SET @Message = 'Model inserted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       SELECT
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            id, name, type, description, context_window_tokens,
            features, is_locked, icon_class, access_level,
            is_enabled, is_deleted, created_by, updated_by,
            created_at, updated_at
        FROM dbo.tbl_MODELS
        WHERE is_deleted = 0
        ORDER BY created_at DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            name = ISNULL(@name, name),
            type = ISNULL(@type, type),
            description = ISNULL(@description, description),
            context_window_tokens = ISNULL(@context_window_tokens, context_window_tokens),
            features = ISNULL(@features, features),
            is_locked = ISNULL(@is_locked, is_locked),
            icon_class = ISNULL(@icon_class, icon_class),
            access_level = ISNULL(@access_level, access_level),
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'Model updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Record not found';
            RETURN 0;
        END
    END

    /* =========================
       TOGGLE
       ========================= */
    ELSE IF (@Action = 'TOGGLE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            is_enabled = ISNULL(@is_enabled, is_enabled),
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Model status updated';
        RETURN 1;
    END

    /* =========================
       DELETE (SOFT)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_MODELS
        SET
            is_deleted = 1,
            is_enabled = 0,
            updated_by = @updated_by,
            updated_at = GETDATE()
        WHERE id = @id;

        SET @Status = 1;
        SET @Message = 'Model soft deleted successfully';
        RETURN 1;
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END



GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USER_BASED_REQUESTS_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_USER_BASED_REQUESTS_CRUD]
(
    @Action               VARCHAR(10),     -- INSERT | SELECT | UPDATE | REVIEW | DELETE
    @id                   INT = NULL,
    @model_id             INT = NULL,
    @user_id              INT = NULL,
    @detail_justification VARCHAR(500) = NULL,
    @priority             VARCHAR(50) = NULL,
    @tel_ext              VARCHAR(100) = NULL,
    @additional_notes    VARCHAR(500) = NULL,
    @admin_notes          VARCHAR(500) = NULL,
    @status               VARCHAR(20) = NULL,   -- Pending | Approved | Rejected | Cancelled
    @total_promptperday   INT = NULL,
    @reviewed_by          INT = NULL,

    -- NEW PARAMETERS
    @RankCode             VARCHAR(50) = NULL,
    @RankDecode           VARCHAR(300) = NULL,
    @Username             VARCHAR(100) = NULL,
    @PType                VARCHAR(50) = NULL,
    @BaseCode             VARCHAR(50) = NULL,
    @BaseDecode           VARCHAR(300) = NULL,
    @UnitCode             VARCHAR(50) = NULL,
    @UnitDecode           VARCHAR(300) = NULL,

    -- OUTPUT (STANDARD)
    @Status2               BIT OUTPUT,
    @Message              VARCHAR(200) OUTPUT,
    @NewId                INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT (USER REQUEST)
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        BEGIN TRY
            INSERT INTO dbo.tbl_USER_BASED_REQUESTS
            (
                model_id,
                user_id,
                detail_justification,
                priority,
                tel_ext,
                additional_notes,
                status,
                created_at,
                RankCode,
                RankDecode,
                Username,
                PType,
                BaseCode,
                BaseDecode,
                UnitCode,
                UnitDecode
            )
            VALUES
            (
                @model_id,
                @user_id,
                @detail_justification,
                @priority,
                @tel_ext,
                @additional_notes,
                'Pending',
                GETDATE(),
                @RankCode,
                @RankDecode,
                @Username,
                @PType,
                @BaseCode,
                @BaseDecode,
                @UnitCode,
                @UnitDecode
            );

            SET @NewId = SCOPE_IDENTITY();
            SET @Status2 = 1;
            SET @Message = 'Request submitted successfully';

            RETURN 1;
        END TRY
        BEGIN CATCH
            SET @Status2 = 0;
            SET @Message = ERROR_MESSAGE();
            SET @NewId = NULL;
            RETURN 0;
        END CATCH
    END

    /* =========================
       SELECT (ADMIN / USER)
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            r.id,
            r.model_id,
            m.name AS model_name,
            r.user_id,
            u.username,
            r.detail_justification,
            r.priority,
            r.tel_ext,
            r.additional_notes,
            r.admin_notes,
            r.status,
            r.total_promptperday,
            r.reviewed_by,
            r.review_date,
            r.created_at,
            r.updated_at,
            r.RankCode,
            r.RankDecode,
            r.Username,
            r.PType,
            r.BaseCode,
            r.BaseDecode,
            r.UnitCode,
            r.UnitDecode
        FROM dbo.tbl_USER_BASED_REQUESTS r
        INNER JOIN dbo.tbl_MODELS m ON r.model_id = m.id
        INNER JOIN dbo.tbl_USERS u ON r.user_id = u.id
        WHERE
            (@id IS NULL OR r.id = @id)
            AND (@user_id IS NULL OR r.user_id = @user_id)
        ORDER BY r.created_at DESC;

        SET @Status2 = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE (USER – Pending only)
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            detail_justification = ISNULL(@detail_justification, detail_justification),
            priority             = ISNULL(@priority, priority),
            tel_ext              = ISNULL(@tel_ext, tel_ext),
            additional_notes     = ISNULL(@additional_notes, additional_notes),
            RankCode             = ISNULL(@RankCode, RankCode),
            RankDecode           = ISNULL(@RankDecode, RankDecode),
            Username             = ISNULL(@Username, Username),
            PType                = ISNULL(@PType, PType),
            BaseCode             = ISNULL(@BaseCode, BaseCode),
            BaseDecode           = ISNULL(@BaseDecode, BaseDecode),
            UnitCode             = ISNULL(@UnitCode, UnitCode),
            UnitDecode           = ISNULL(@UnitDecode, UnitDecode),
			status           = ISNULL(@status, status),
            updated_at           = GETDATE()
        WHERE
            id = @id
            AND status = 'Pending';

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found or already reviewed';
            RETURN 0;
        END
    END

    /* =========================
       REVIEW (ADMIN)
       ========================= */
    ELSE IF (@Action = 'REVIEW')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            status             = @status,
            admin_notes        = @admin_notes,
            total_promptperday = @total_promptperday,
            reviewed_by        = @reviewed_by,
            review_date        = GETDATE(),
            updated_at         = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request reviewed successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE (CANCEL)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_USER_BASED_REQUESTS
        SET
            status = 'Cancelled',
            updated_at = GETDATE()
        WHERE id = @id;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status2 = 1;
            SET @Message = 'Request cancelled successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status2 = 0;
            SET @Message = 'Request not found';
            RETURN 0;
        END
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status2 = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USER_PROFILE_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_tbl_USER_PROFILE_CRUD]
    @Action       VARCHAR(10),
    @user_id      INT = NULL,
    @pakno        VARCHAR(50) = NULL,
	@ptype        INT = NULL,
    @full_name    VARCHAR(200) = NULL,
    @rank_code    VARCHAR(50) = NULL,
    @rank_decode  VARCHAR(300) = NULL,
    @base_code    INT = NULL,
    @base_decode  VARCHAR(300) = NULL,
    @unit_code    INT = NULL,
    @unit_decode  VARCHAR(300) = NULL,
	@section_code    INT = NULL,
    @section_decode  VARCHAR(300) = NULL,
	@main_branch_code  VARCHAR(300) = NULL,
	@main_branch_decode  VARCHAR(500) = NULL,
    @Status       BIT OUTPUT,
    @Message      VARCHAR(200) OUTPUT,
    @NewId        INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @Status = 0;
    SET @Message = '';
    SET @NewId = NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF UPPER(LTRIM(RTRIM(@Action))) = 'INSERT'
        BEGIN
            -- If a profile for this user already exists, perform update instead of duplicate insert
            IF EXISTS (SELECT 1 FROM dbo.tbl_USER_PROFILE WHERE User_ID = @user_id)
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    PAK_NO = ISNULL(@pakno, PAK_NO),
                    full_name = ISNULL(@full_name, full_name),
                    CURRENT_RANK_CODE = ISNULL(@rank_code, CURRENT_RANK_CODE),
                    RANK_ABBREVIATED_DECODE = ISNULL(@rank_decode, RANK_ABBREVIATED_DECODE),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE User_ID = @user_id;

                SELECT @NewId = id FROM dbo.tbl_USER_PROFILE WHERE User_ID = @user_id;
                SET @Status = 1;
                SET @Message = 'Profile updated (existing record).';
            END
            ELSE
            BEGIN
                INSERT INTO dbo.tbl_USER_PROFILE
                (
                    User_ID,
                    PAK_NO,
					P_Type,
                    full_name,
                    CURRENT_RANK_CODE,
                    RANK_ABBREVIATED_DECODE,
                    base_code,
                    base_decode,
                    unit_code,
                    unit_decode,
					SECTION_CODE,
					SECTION_DECODE,
					MAIN_BRANCH_CODE,
					MAIN_BRANCH_DECODE,
                    created_at,
                    updated_at
                )
                VALUES
                (
                    @user_id,
                    @pakno,
					@ptype,
                    @full_name,
                    @rank_code,
                    @rank_decode,
                    @base_code,
                    @base_decode,
                    @unit_code,
                    @unit_decode,
					@section_code,
					@section_decode,
					@main_branch_code,
					@main_branch_decode,
                    GETDATE(),
                    GETDATE()
                );

                SET @NewId = CAST(SCOPE_IDENTITY() AS INT);
                SET @Status = 1;
                SET @Message = 'Profile inserted successfully.';
            END
        END
        ELSE IF UPPER(LTRIM(RTRIM(@Action))) = 'UPDATE'
        BEGIN
            -- Prefer updating by user_id; if user_id not provided, caller can set @NewId as target id
            IF @user_id IS NOT NULL
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    PAK_NO = ISNULL(@pakno, PAK_NO),
                    full_name = ISNULL(@full_name, full_name),
                    CURRENT_RANK_CODE = ISNULL(@rank_code, CURRENT_RANK_CODE),
                    RANK_ABBREVIATED_DECODE = ISNULL(@rank_decode, RANK_ABBREVIATED_DECODE),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE User_ID = @user_id;

                SELECT @NewId = id FROM dbo.tbl_USER_PROFILE WHERE User_ID = @user_id;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile updated successfully.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to update for provided user_id.';
                END
            END
            ELSE IF @NewId IS NOT NULL
            BEGIN
                UPDATE dbo.tbl_USER_PROFILE
                SET
                    PAK_NO = ISNULL(@pakno, PAK_NO),
                    full_name = ISNULL(@full_name, full_name),
                    CURRENT_RANK_CODE = ISNULL(@rank_code, CURRENT_RANK_CODE),
                    RANK_ABBREVIATED_DECODE = ISNULL(@rank_decode, RANK_ABBREVIATED_DECODE),
                    base_code = CASE WHEN @base_code IS NOT NULL THEN @base_code ELSE base_code END,
                    base_decode = ISNULL(@base_decode, base_decode),
                    unit_code = CASE WHEN @unit_code IS NOT NULL THEN @unit_code ELSE unit_code END,
                    unit_decode = ISNULL(@unit_decode, unit_decode),
                    updated_at = GETDATE()
                WHERE id = @NewId;

                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile updated successfully by id.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to update for provided id.';
                END
            END
            ELSE
            BEGIN
                SET @Status = 0;
                SET @Message = 'UPDATE requires @user_id or @NewId.';
            END
        END
        ELSE IF UPPER(LTRIM(RTRIM(@Action))) = 'DELETE'
        BEGIN
            IF @user_id IS NOT NULL
            BEGIN
                DELETE FROM dbo.tbl_USER_PROFILE WHERE User_ID = @user_id;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile deleted successfully.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to delete for provided user_id.';
                END
            END
            ELSE IF @NewId IS NOT NULL
            BEGIN
                DELETE FROM dbo.tbl_USER_PROFILE WHERE id = @NewId;
                IF @@ROWCOUNT > 0
                BEGIN
                    SET @Status = 1;
                    SET @Message = 'Profile deleted successfully by id.';
                END
                ELSE
                BEGIN
                    SET @Status = 0;
                    SET @Message = 'No profile found to delete for provided id.';
                END
            END
            ELSE
            BEGIN
                SET @Status = 0;
                SET @Message = 'DELETE requires @user_id or @NewId.';
            END
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Unknown Action. Use INSERT, UPDATE or DELETE.';
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @Status = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USER_PROMPTS_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_tbl_USER_PROMPTS_CRUD]
    @Action           VARCHAR(10),
    @user_id          VARCHAR(50) = NULL,
    @username         NVARCHAR(100) = NULL,
    @rank_decode      NVARCHAR(50) = NULL,
    @base_decode      NVARCHAR(100) = NULL,
    @model_name       NVARCHAR(100) = NULL,
    @prompt_text      NVARCHAR(2000) = NULL,
    @has_attachments  BIT = 0,
    @attachment_names NVARCHAR(500) = NULL,
    @session_id       VARCHAR(50) = NULL,
    @timestamp        DATETIME = NULL,
    @Status           BIT OUTPUT,
    @Message          VARCHAR(200) OUTPUT,
    @NewId            INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Status = 0;
    SET @Message = '';
    SET @NewId = NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF UPPER(LTRIM(RTRIM(@Action))) = 'INSERT'
        BEGIN
            INSERT INTO dbo.tbl_USER_PROMPTS
                (user_id, username, rank_decode, base_decode, model_name, prompt_text, has_attachments, attachment_names, session_id, created_at)
            VALUES
                (@user_id, @username, @rank_decode, @base_decode, @model_name, LEFT(@prompt_text, 2000), @has_attachments, @attachment_names, @session_id, ISNULL(@timestamp, GETDATE()));

            SET @NewId = CAST(SCOPE_IDENTITY() AS INT);
            SET @Status = 1;
            SET @Message = 'Inserted';
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'Unsupported action. Only INSERT is implemented.';
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        SET @Status = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_tbl_USERS_CRUD]    Script Date: 4/23/2026 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_tbl_USERS_CRUD]
(
    @Action            VARCHAR(10),      -- INSERT | SELECT | UPDATE | DELETE
    @id                INT = NULL,
    @username          VARCHAR(100) = NULL,
    @role_id           INT = NULL,
    @is_active         BIT = NULL,
    @is_locked         BIT = NULL,
    @is_deleted        BIT = NULL,

    -- OUTPUT (STANDARD)
    @Status            BIT OUTPUT,
    @Message           VARCHAR(200) OUTPUT,
    @NewId             INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =========================
       INSERT USER
       ========================= */
    IF (@Action = 'INSERT')
    BEGIN
        -- Check duplicate username
        IF EXISTS (
            SELECT 1
            FROM dbo.tbl_USERS WITH (NOLOCK)
            WHERE username = @username
              AND is_deleted = 0
        )
        BEGIN
            SET @Status = 0;
            SET @Message = 'Username already exists';
            SET @NewId = NULL;
            RETURN 0;
        END

        INSERT INTO dbo.tbl_USERS
        (
            username,
            role_id,
            is_active,
            is_locked,
            is_deleted,
            created_at
        )
        VALUES
        (
            @username,
            @role_id,
            ISNULL(@is_active, 1),
            ISNULL(@is_locked, 0),
            0,
            GETDATE()
        );

        SET @NewId = SCOPE_IDENTITY();
        SET @Status = 1;
        SET @Message = 'User created successfully';

        RETURN 1;
    END

    /* =========================
       SELECT USER(S)
       ========================= */
    ELSE IF (@Action = 'SELECT')
    BEGIN
        SELECT
            u.id,
            u.username,
            u.role_id,
            r.name AS role_name,
            u.is_active,
            u.is_locked,
            u.is_deleted,
            u.last_login_at,
            u.created_at,
            u.updated_at
        FROM dbo.tbl_USERS u
        LEFT JOIN dbo.tbl_ROLE r ON u.role_id = r.id
        WHERE
            (@id IS NULL OR u.id = @id)
            AND u.is_deleted = 0
        ORDER BY u.created_at DESC;

        SET @Status = 1;
        SET @Message = 'Success';
        RETURN 1;
    END

    /* =========================
       UPDATE USER
       ========================= */
    ELSE IF (@Action = 'UPDATE')
    BEGIN
        UPDATE dbo.tbl_USERS
        SET
            username   = ISNULL(@username, username),
            role_id    = ISNULL(@role_id, role_id),
            is_active  = ISNULL(@is_active, is_active),
            is_locked  = ISNULL(@is_locked, is_locked),
            updated_at = GETDATE()
        WHERE id = @id
          AND is_deleted = 0;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'User updated successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'User not found';
            RETURN 0;
        END
    END

    /* =========================
       DELETE USER (SOFT)
       ========================= */
    ELSE IF (@Action = 'DELETE')
    BEGIN
        UPDATE dbo.tbl_USERS
        SET
            is_deleted = 1,
            is_active  = 0,
            updated_at = GETDATE()
        WHERE id = @id
          AND is_deleted = 0;

        IF @@ROWCOUNT > 0
        BEGIN
            SET @Status = 1;
            SET @Message = 'User soft deleted successfully';
            RETURN 1;
        END
        ELSE
        BEGIN
            SET @Status = 0;
            SET @Message = 'User not found';
            RETURN 0;
        END
    END

    /* =========================
       INVALID ACTION
       ========================= */
    SET @Status = 0;
    SET @Message = 'Invalid Action';
    RETURN 0;
END



GO
